@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');
h1{
   font-family: 'Inter',serif;
   text-align: center;
   font-size: 60px;
   line-height: 1;
   position: relative;
   color:#4f6158;
   
}

h2{
  font-family: 'Inter',serif;
}

.signature {
  max-width: 10%;
  position: absolute;
  left: 55px;
  top: 50px;
}
nav {
  text-align: center;
  margin-top: -25px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: rgb(122, 122, 122);
}
a:hover {
  color: black;
}
.wrapper {
  text-align: center;
}
button {
  padding: 10px 20px;
  margin: 5px;
}

body {
  font-size: 22px;
  margin: 0 auto;
  background-color:white;
  color: #565759;
  padding: 1em 2em;
  max-width: 900px;
}
.mainbody {
margin-top: 10px;
margin-bottom: 10px;
}
.currently-involved {
  margin: 0px 100px;
}
footer {
  margin: 3.5% 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}

html{
  background-color: #8fa898;
}
button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
   color:#4f6158;
   background-color: white;
  border-color:#89a688;
   transition: all .4s ease;


}
button:hover {

  color: white;
  background-color: #89a688;
}
.resize {
  width: 30px;

}
.headshot {
  max-width: 30%;
  border-radius: 50%;
  margin: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
}
musicButton {
  float: left;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 32%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}