@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');
h1{
   font-family: 'Inter',serif;
   text-align: center;
   font-size: 60px;
   line-height: 1;
   position: relative;
   
}

h2{
  font-family: 'Inter',serif;
}

.signature {
  max-width: 10%;
  position: absolute;
  left: 55px;
  top: 50px;
}
nav {
  margin: 55px;
  text-align: right;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: black;
}
.wrapper {
  text-align: center;
}
button {
  padding: 10px 20px;
}

body {
  font-family: 'Abhaya Libre', serif;
  font-size: 22px;
}
.mainbody {
  margin: 0% 20%;
  text-align: left;
}
.currently-involved {
  margin: 0px 100px;
}
footer {
  margin: 100px 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.row {
  margin-top: 20px;
  text-align: center;
}
.column {
  float: left;
  width: 30%;
  background-color: grey;
  height: 200px;
  margin: 5px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
